<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
@*@for (int i = 0; i <=6; i++)
{
    <img src="~/img/tem2dogo.png" style="margin-top: 30px; margin-bottom: 30px;margin-left: 20px; margin-right: 20px;width: available; height: 150px;" />
}*@
<body>

<div>
  
    @RenderBody()
</div>
</body>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
<script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
</html>
